.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/modules.xml
.idea/PhoneGap.iml
.idea/vcs.xml
.idea/copyright/profiles_settings.xml
.idea/scopes/scope_settings.xml
.idea/misc.xml
test/.idea/.name
test/.idea/compiler.xml
test/.idea/copyright/profiles_settings.xml
test/.idea/encodings.xml
test/.idea/misc.xml
test/.idea/modules.xml
test/android/CordovaLib/afphonegaptestapp-CordovaLib.iml
test/android/af-phonegap-testapp.iml
